.button {
	// display: block;
	text-align: center;
	padding: 10px 32px;
	font-family: inherit;
	@include font(16px, 700, $white-color, 0.06em, 1.86);
	cursor: pointer;
	outline: none;
	border-radius: 4px;
	@include bordered(0, none, transparent, 4px);
	@include trans(background, $lightblue-color);
	@include trans(box-shadow, none);
	&:hover,
	&:focus {
		@include trans(background, $btnhover);
		@include trans(box-shadow, (0 4px 4px rgba(0, 0, 0, 0.15)));
	}
}
