.contacts {
	@include for-size(tablet) {
		@include flex();
	}
	@include for-size(tablet-only) {
		flex-direction: column;
		align-items: start;
	}
}
.contacts__item {
	&:not(:last-child) {
		@include for-size(mobile-tablet) {
			margin-bottom: 12px;
		}
		@include for-size(tablet-only) {
			margin-bottom: 10px;
		}
		@include for-size(desktop) {
			margin-right: 50px;
		}
	}
}
.contacts__link {
	@include flex();
	@include font(18px, 500, $second-text-color, 0.02em, 1.17);
	@include trans(color, $second-text-color);
	&:hover,
	&:focus {
		@include trans(color, $lightblue-color);
	}
	@include for-size(tablet) {
		justify-content: start;
		font-size: 12px;
	}
	.nav-wrap & {
		@include for-size(desktop) {
			padding: 32px 0;
		}
	}
}
.contacts__icon {
	margin-right: 10px;
	@include trans(fill, $second-text-color);
	.contacts__link:hover &,
	.contacts__link:focus & {
		@include trans(fill, $lightblue-color);
	}
}
