.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $back-color;
	text-align: center;
}
.footer__flexbox {
	@include for-size(tablet) {
		@include flex($ai: baseline);
	}
	@include for-size(tablet-only) {
		flex-wrap: wrap;
	}
}
.footer__logo {
	@extend .logo;
	margin-bottom: 20px;
	padding: 0;
	color: $white-color;
	@include for-size(desktop) {
		display: block;
		text-align: left;
	}
}
.footer__firstpos {
	& .contacts {
		display: block;
		font-size: 14px;
	}
	@include for-size(tablet-only) {
		margin-right: 165px;
	}
	@include for-size(desktop) {
		min-width: 231px;
		margin-right: 70px;
	}
}
.footer__firstpos .contacts__address {
	@include font(14px, 400, $white-color, 0.03em, 1.71);
	font-style: inherit;
}
.footer__firstpos .contacts__item {
	margin: 0;
	&:not(:last-child) {
		@include for-size(mobile) {
			margin-bottom: 8px;
		}
		margin-bottom: 9px;
	}
}
.footer__firstpos .contacts__link {
	justify-content: center;
	@include for-size(desktop) {
		justify-content: start;
	}
}
.footer__secondpos {
	@include for-size(mobile-tablet) {
		margin-top: 60px;
	}
	@include for-size(desktop) {
		@include flex();
		margin-right: 93px;
	}
}
.footer__secondpos .social-icons {
	padding-bottom: 0;
}
.footer__title {
	@include font(14px, 700, $white-color, 0.03em, 1.14);
	margin-bottom: 20px;
	text-transform: uppercase;
	@include for-size(desktop) {
		text-align: left;
	}
}
.footer__form {
	@include for-size(desktop) {
		@include flex($justcont: start);
		align-items: start;
	}
}
.footer__thirdpos {
	@include for-size(todesktop) {
		margin-top: 60px;
	}
	@include for-size(tablet-only) {
		min-width: 450px;
	}
}
.footer .form__field {
	display: block;
	margin-bottom: 0;
}
.footer .form__input {
	display: block;
	outline: none;
	margin-bottom: 20px;
	width: 100%;
	height: 50px;
	background-color: transparent;
	padding: 15px 16px;
	@include font(16px, 400, $white-color, 0.03em, 1.25);
	@include bordered(1px, solid, rgba(255, 255, 255, 0.3), 4px);
	@include trans(border-color, rgba(255, 255, 255, 0.3));
	&::placeholder {
		@include font(16px, 400, rgba(255, 255, 255, 0.6), 0.03em, 1.25);
	}
	&:focus {
		@include trans(border-color, $white-color);
	}
	@include for-size(desktop) {
		margin-right: 12px;
		width: 358px;
		margin-bottom: 0;
	}
}
.footer__button {
	@extend .button;
	@include flex(inline-flex);
	min-width: 200px;
	padding: 10px 29px;
	@include trans(background-color, $lightblue-color);
	@include trans(color, $white-color);
	&:hover,
	&:focus {
		@include trans(background-color, $white-color);
		@include trans(color, $lightblue-color);
	}
}
.footer_icon {
	margin-left: 10px;
	@include trans(fill, $white-color);
	.footer__button:hover &,
	.footer__button:focus & {
		@include trans(fill, $lightblue-color);
	}
}
