.header {
	background-color: $white-color;
}
.header__flexbox {
	@include flex();
}
.nav {
	@include flex();
}
.nav__list {
	@include flex();
}
.nav__item:not(:last-child) {
	margin-right: 50px;
}
.nav__link {
	@include font(14px, 500, $main-text-color, 0.02em, 1.14);
	@include trans(color, $main-text-color);
	&:hover,
	&:focus {
		@include trans(color, $lightblue-color);
	}
}
.nav__link.current {
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		bottom: -1.2px;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: $lightblue-color;
		border-radius: 2px;
	}
}
