.header {
	@include for-size(mobile-tablet) {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	background-color: $white-color;
}
.header__flexbox {
	@include flex($justcont: space-between);
	@include for-size(tablet) {
		@include flex($justcont: start);
	}
}
.header__button {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	@include for-size(tablet) {
		display: none;
	}
	& .header__icon-cross {
		@include trans(opacity, 0);
	}
	& .header__icon-menu {
		@include trans(opacity, 1);
	}
	&.is-open .header__icon-cross {
		@include trans(opacity, 1);
	}
	&.is-open .header__icon-menu {
		@include trans(opacity, 0);
	}
}
.header__icon-cross,
.header__icon-menu {
	@include trans(fill, $main-text-color);
	.header__button:hover &,
	.header__button:focus & {
		@include trans(fill, $lightblue-color);
	}
}
.header .logo {
	@include for-size(tablet) {
		margin-right: 88px;
	}
	@include for-size(desktop) {
		margin-right: 93px;
	}
}
.nav-wrap {
	@include for-size(mobile-tablet) {
		position: absolute;
		top: 102%;
		left: 0;
		width: 100%;
		padding-top: 60px;
		padding-bottom: 64px;
		background-color: $white-color;
		z-index: 2;
		pointer-events: none;
		@include trans(opacity, 0);
		@include trans(visibility, hidden);
		@include trans(transform, translateY(-100%));
		&.is-open {
			pointer-events: initial;
			@include trans(opacity, 1);
			@include trans(visibility, visible);
			@include trans(transform, translateY(0));
		}
	}
	@include for-size(tablet) {
		@include flex($justcont: space-between);
		flex-grow: 1;
	}
}
.nav {
	@include for-size(tablet) {
		@include flex();
	}
}
.nav__list {
	@include for-size(tablet) {
		@include flex();
	}
}
.nav__item {
	text-align: center;
	@include for-size(mobile-tablet) {
		margin-bottom: 52px;
	}
	@include for-size(tablet) {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}
.nav__link {
	display: inline-block;
	@include font(18px, 500, $main-text-color, 0.02em, 1.14);
	@include for-size(tablet) {
		font-size: 14px;
		@include trans(color, $main-text-color);
		&:hover,
		&:focus {
			@include trans(color, $lightblue-color);
		}
	}
}
.nav__link.current {
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: $lightblue-color;
		border-radius: 2px;
		@include for-size(tablet) {
			bottom: -1.2px;
		}
	}
}
