.header {
	background-color: $white-color;
}
.header__flexbox {
	@include for-size(tablet) {
		@include flex($justcont: start);
	}
	// @include for-size(desktop) {
	// 	@include flex($justcont: start);
	// }
}
.header .logo {
	@include for-size(tablet) {
		margin-right: 88px;
	}
	@include for-size(desktop) {
		margin-right: 93px;
	}
}
.nav-wrap {
	display: none;
	@include for-size(tablet) {
		display: contents;
	}
}
.nav {
	@include flex();
}
.nav__list {
	@include flex();
}
.nav__item:not(:last-child) {
	margin-right: 50px;
}
.nav__link {
	@include font(14px, 500, $main-text-color, 0.02em, 1.14);
	@include trans(color, $main-text-color);
	&:hover,
	&:focus {
		@include trans(color, $lightblue-color);
	}
}
.nav__link.current {
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		bottom: -1.2px;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: $lightblue-color;
		border-radius: 2px;
	}
}
