.backdrop.is-hidden {
	pointer-events: none;
	@include trans(opacity, 0);
	@include trans(visibility, hidden);
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	@include trans(visibility, visible);
	@include trans(opacity, 1);
	@include for-size(mobile-only) {
		padding: 93px 15px;
	}
}
.is-hidden .modal {
	top: -100%;
	@include trans(transform, (translateX(-50%) scale(0.2)));
}
.modal {
	padding: 40px;
	width: 100%;
	background-color: $white-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	@include trans(transform, scale(1));
	@include for-size(mobile) {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 450px;
		height: 609px;
		@include trans(transform, (translate(-50%, -50%) scale(1)));
	}
	@include for-size(desktop) {
		width: 528px;
		height: 581px;
	}
}
.modal__button-close {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 0;
	width: 30px;
	height: 30px;
	@include bordered(1px, solid, rgba(0, 0, 0, 0.1), 50%);
	@include trans(background-color, $white-color);
}
.modal__icon {
	display: inline-block;
}
.modal__button-close:hover .modal__icon,
.modal__button-close:focus .modal__icon {
	@include trans(fill, $lightblue-color);
}
