.section {
	padding: 60px 0;
	@include for-size(desktop) {
		padding: 94px 0;
	}
	&--features {
		@include for-size(desktop) {
			padding-bottom: 0;
		}
	}
	&--team {
		background-color: $lightgray-color;
	}
	&--work {
		@media screen and (max-width: 1199px) {
			display: none;
		}
	}
}
.section__title {
	margin-bottom: 30px;
	@include font(28px, 700, inherit, 0.03em, 1.18);
	text-align: center;
	@include for-size(desktop) {
		margin-bottom: 50px;
		@include font(36px, 700, inherit, 0.03em, 1.17);
	}
}
