body {
	font-family: "Roboto", sans-serif;
	@include font(14px, 400, $main-text-color, 0.02em, 1.14);
	background-color: $white-color;
	&.modal-open {
		overflow: hidden;
	}
	@include for-size(mobile-tablet) {
		padding-top: 60px;
	}
}
img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}
textarea {
	resize: none;
}
.link {
	display: block;
	color: $main-text-color;
	@include for-size(tablet) {
		padding: 32px 0;
	}
}
.border {
	border-top: 1px solid #ececec;
}
.current {
	color: $lightblue-color;
}
