.clients__list {
	@include flex();
	flex-wrap: wrap;
}
.clients__item {
	width: calc((100% - 30px * 5) / 6);
	margin-right: 30px;
	margin-bottom: 30px;
	&:nth-child(6n) {
		margin-right: 0;
	}
	&:nth-last-child(-n + 6) {
		margin-bottom: 0;
	}
}
.clients__link {
	@include flex();
	height: 90px;
	width: 100%;
	@include bordered(1px, solid, $link-color, 4px);
	@include trans(border-color, $link-color);
	&:hover,
	&:focus {
		@include trans(border-color, $lightblue-color);
	}
}
.clients__icon {
	@include trans(fill, $link-color);
	.clients__link:hover &,
	.clients__link:focus & {
		@include trans(fill, $lightblue-color);
	}
}
