.hero {
	@include flex($direction: column);
	max-width: 480px;
	height: 400px;
	background-color: #c4c4c4;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	margin: 0 auto;

	&.no-webp {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/mobile/hero@x1.jpg);
		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolusion: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: url(../images/mobile/hero@x2.jpg);
		}
		@include for-size(tablet) {
			max-width: 768px;
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/tablet/hero@x1.jpg);
			@media screen and (min-device-pixel-ratio: 2),
				screen and (min-resolusion: 192dpi),
				screen and (min-resolution: 2dppx) {
				background-image: url(../images/tablet/hero@x2.jpg);
			}
		}
		@include for-size(desktop) {
			max-width: 1600px;
			height: 600px;
			background-image: url(../images/desktop/hero@x1.jpg);
			@media screen and (min-device-pixel-ratio: 2),
				screen and (min-resolusion: 192dpi),
				screen and (min-resolution: 2dppx) {
				background-image: url(../images/desktop/hero@x2.jpg);
			}
		}
	}
	&.webp {
		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolusion: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: url(../images/mobile/hero@x2.webp);
		}
		@include for-size(tablet) {
			max-width: 768px;
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/tablet/hero@x1.webp);
			@media screen and (min-device-pixel-ratio: 2),
				screen and (min-resolusion: 192dpi),
				screen and (min-resolution: 2dppx) {
				background-image: url(../images/tablet/hero@x2.webp);
			}
		}
		@include for-size(desktop) {
			max-width: 1600px;
			height: 600px;
			background-image: url(../images/desktop/hero@x1.webp);
			@media screen and (min-device-pixel-ratio: 2),
				screen and (min-resolusion: 192dpi),
				screen and (min-resolution: 2dppx) {
				background-image: url(../images/desktop/hero@x2.webp);
			}
		}
	}
}
.hero__title {
	margin: 0 auto;
	margin-bottom: 30px;
	@include font(26px, 900, $white-color, 0.06em, 1.62);
	text-transform: uppercase;
	@include for-size(todesktop) {
		max-width: 360px;
	}
	@include for-size(desktop) {
		max-width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
}
