.filter {
	margin-bottom: 25px;
	@include for-size(tablet) {
		@include flex();
		margin-bottom: 30px;
	}
	@include for-size(desktop) {
		margin-bottom: 50px;
	}
}
.filter__button {
	@extend .button;
	padding: 6px 22px;
	margin-bottom: 15px;
	font-weight: 500;
	line-height: 1.625;
	@include trans(background-color, $lightgray-color);
	@include trans(color, $main-text-color);
	@include trans(box-shadow, none);
	@include trans(border-radius, initial);
	&:not(:last-of-type) {
		margin-right: 8px;
	}
	&:hover,
	&:focus {
		@include trans(background-color, $lightblue-color);
		@include trans(color, $white-color);
		@include trans(
			box-shadow,
			(0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12))
		);
		@include trans(border-radius, 4px);
	}
	@include for-size(tablet) {
		margin-bottom: 0;
	}
}
.active {
	@include trans(background-color, $lightblue-color);
	@include trans(color, $white-color);
	@include trans(
		box-shadow,
		(0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12))
	);
	@include trans(border-radius, 4px);
}
