$lightblue-color: #2196f3;
$white-color: #ffffff;
$second-text-color: #757575;
$main-text-color: #212121;
$back-color: #2f303a;
$lightgray-color: #f5f4fa;
$black-color: #000000;
$link-color: #afb1b8;
$btnhover: #188ce8;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
